/* .app-container{
  height: 100%;
} */
.login{
  display: flex; 
  width: auto;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.login .login-form{
  width: 400px;
}